[{{ item.domain }}]
listen = {{ php_fpm_socket_location }}/{{ item.domain }}.sock
listen.owner = {{ item.user }}
listen.group = {{ php_fpm_listen_group }}
listen.mode = 0660
user = {{ item.user }}
group = {{ item.user }}
pm = {{ php_fpm_pm }}
pm.max_children = {{ php_fpm_max_children }}
pm.start_servers = {{ php_fpm_start_servers }}
pm.min_spare_servers = {{ php_fpm_in_spare_servers }}
pm.max_spare_servers = {{ php_fpm_max_spare_servers }}
chdir = /
